<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="row1">
    <div class="row1content">
        <h2>About cars</h2>
<p>Een auto of automobiel ('zelfbewegend', namelijk rijtuig zonder trekdier) (automobiel uit Grieks auto- 'zelf' en Latijn mobile 'bewegend') is een zelfstandig voortbewegend, rijdend vervoermiddel.<br>
    Voor de aandrijving worden hoofdzakelijk verbrandingsmotoren toegepast die drijven op de verbranding van fossiele brandstoffen. Alternatieve aandrijvingen zijn de hybride aandrijving, en de elektrische aandrijving met accu’s of een brandstofcel als energiebron.<br>
    In de loop der jaren zijn er talloze automerken en nog meer modellen op de markt verschenen. Door het aantal auto’s en het intensief gebruik daarvan, doen er zich files voor, voornamelijk bij zogenoemde knooppunten.<br>
    In Nederland dienen motorvoertuigen regelmatig een algemene periodieke keuring (apk) te ondergaan om aan het verkeer te mogen deelnemen. In België gaat het om de automobielinspectie.<br>
    Daar de auto ontwikkeld is uit onder andere het rijtuig, werden vroeger de carrosserieën van auto's gemaakt van hout, leder en riet (voor zover bekend alleen de Hanomag 2/10 PS, ook wel Kommissbrot genoemd, de Beacon en de Bisacar). Later werd metaal of kunststof gekozen voor de carrosserie. Een personenauto heeft meestal vier wielen die voorzien zijn van luchtbanden (radiaalbanden om precies te zijn). Een enkele keer komen drie, zes of acht wielen voor.
</p>
        <h2>history</h2>
        <p>
            Het woord automobiel is een Frans leenwoord en komt van automobile. Dit komt weer uit het Grieks en Latijn. Het eerste deel van het woord (auto) komt van het Griekse αυτος en betekent zelf. Het tweede deel van het woord (mobile, mobiel) komt van het Latijnse movere en betekent bewegen. De automobiel zoals wij hem nu kennen ontstond geleidelijk uit de door paarden getrokken rijtuigen en de fiets.<br>
            De allereerste voorloper van de auto's waren wellicht de zeilwagens, die in de 18e eeuw in Europa onder gunstige omstandigheden reeds een zeer behoorlijke snelheid konden bereiken. Er zijn zelfs bronnen, die aangeven dat er onder de Egyptische farao Amenemhat III, in het tweede millennium vóór Christus, al zeilwagens bestonden.<br>
            Voordat de moderne verbrandingsmotor werd toegepast, gebruikte men eerst nog stoommachines. Een van de bekendste ontwerpers van de stoomauto is Nicolas Joseph Cugnot (1725-1804). Deze officier gebruikte zijn stoomauto voor opdrachten binnen het leger. Ook Gurney ontwierp een stoomauto in 1832 voor de verbinding tussen Gloucester en Cheltenham in Engeland. De gangbare snelheid was toen ongeveer 25 kilometer per uur. Eenzelfde ontwikkeling was te zien in Nederland waar Sibrandus Stratingh uit Groningen in 1834 een (succesvol) experiment deed met een stoomauto. Tot aan de uitvinding van de verbrandingsmotor ontwikkelde de stoomauto zich geleidelijk, maar hij kon niet op tegen de verbrandingsmotor. De voordelen van deze motor waren voornamelijk een veel lager gewicht en minder brandstofverbruik voor meer vermogen. Hiermee was de opmars van dit type motor niet meer te stuiten.<br>
            François Isaac de Rivaz, een Zwitserse uitvinder, ontwierp de eerste verbrandingsmotor met waterstofgas als brandstof in 1806. In 1862 bouwde de Belg Etienne Lenoir zijn eerste auto, de hippomobile, met een waterstofverbrandingsmotor. Pas toen de Duitser Nikolaus Otto in 1878 verbeteringen aanbracht werd de gasmotor van Lenoir een commercieel succes. Verdere grote aanpassingen werden gedaan door zijn landgenoot Gottlieb Daimler met zijn patent op de eerste succesvolle hogesnelheidsverbrandingsmotor (1885). De grootste verbeteringen aan de zware oliemotor zijn gedaan door Rudolf Diesel, eveneens uit Duitsland, die zijn eerste patenten kreeg in 1892. Tegen het einde van de 19e eeuw was de verbrandingsmotor de grote concurrent van de stoommachine in industrie en transport.<br>
            Carl Benz bouwde in 1885 de (driewiel)auto uitgerust met een benzinemotor. Dit voertuig was de start voor de ontwikkeling en doorbraak van dit type verbrandingsmotoren.<br>
            De eerste in België gebouwde auto was de Vincke en de eerste in Nederland gebouwde auto de Eysink. Welk merk auto de eerste personenauto in Nederland was is niet bekend, maar wel bekend is dat de industrieel Jos Bogaers de auto had gekocht en op 17 december 1895 zou hebben bereden.<br>
        </p>
    </div>
</div>

<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>