<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>

<div class="row1">
    <div class="row1content" th:if="${venue}">
        <h2 th:text="${venue.name}">venuedetails</h2>

        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/venuedetails/${prevId}|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/venuedetails/${nextId}|}">&gt;</a>
        </div>
        <div class="venueinfo">
            <div class="infoLine">
                <div class="infoLineName">merk:</div>
                <div class="infoLineValue" th:text="${venue.brand}">brand></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">prijs van de auto:</div>
                <div class="infoLineValue" th:text="${venue.price} + ' euro'">prijs></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">hoeveel km op de telller:</div>
                <div class="infoLineValue" th:text="${venue.kilometers} + ' km'">km></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">brandstof:</div>
                <div class="infoLineValue" th:text="${venue.fuel}">brandstof></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">Jaar:</div>
                <div class="infoLineValue" th:text="${venue.year}">Jaar></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">kleur:</div>
                <div class="infoLineValue" th:text="${venue.color}">kleur></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">for sale:</div>
                <div class="infoLineValue" th:text="${venue.forSale}? 'Yes' : 'No'">for sale></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">radio:</div>
                <div class="infoLineValue" th:text="${venue.radio}? 'Yes' : 'No'">radio></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">gps:</div>
                <div class="infoLineValue" th:text="${venue.gps}? 'Yes' : 'No'">gps></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">airconditioning:</div>
                <div class="infoLineValue" th:text="${venue.airConditioning}? 'Yes' : 'No'">airco></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">automatic:</div>
                <div class="infoLineValue" th:text="${venue.automatic}? 'Yes' : 'No'">automatic></div>
            </div>
            <div class="infoLine">
                <div class="infoLineName">manuel:</div>
                <div class="infoLineValue" th:text="${venue.manuall}? 'Yes' : 'No'">manuel></div>
            </div>
        </div>
    </div>
    <div class="row1content" th:unless="${venue}">
        <p>no venue was chosen</p>
    </div>
</div>
<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>